.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0 20px 0;

    &__text {
        margin-bottom: 15px;
    }

    &__author {}

    &__refresh {
        margin-bottom: 15px;
        background: transparent;
        border: none;


        &-img {
            filter: brightness(0) invert(1);
            width: 25px;
            height: 25px;

        }

        &:not(:active) {
            transition: all 0.5s ease-in-out;
            transform: rotate(360deg);
        }
    }
}

@media screen and (max-width: 1000px) {
    .quote {
        &__author {
            align-self: flex-start;
        }
    }
}